<!-- components/header.html -->
<header class="header">
    <div class="container header-container">
      <a href="/" class="logo" data-link>
        <!-- <img src="/assets/images/logo.svg" alt="EcoWatt Logo" class="logo-image"> -->
        EcoWatt
      </a>
      <nav>
        <ul class="nav-menu">
          <li class="nav-item"><a href="/" class="nav-link" data-link>Home</a></li>
          <li class="nav-item"><a href="/product" class="nav-link" data-link>Our Product</a></li>
          <li class="nav-item"><a href="/about" class="nav-link" data-link>About Us</a></li>
          <li class="nav-item" id="cart-link" style="display: none;"><a href="/cart" class="nav-link" data-link>Cart</a></li>
          <li class="nav-item" id="dashboard-link" style="display: none;"><a href="/dashboard" class="nav-link" data-link>Dashboard</a></li>
          <li class="nav-item" id="login-link"><a href="/login" class="nav-link" data-link>Login</a></li>
          <li class="nav-item" id="profile-link" style="display: none;"><a href="/profile" class="nav-link" data-link>Profile</a></li>
          <li class="nav-item" id="logout-link" style="display: none;"><a href="#" id="logout-button" class="nav-link">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>